body {
  margin: 0;
  padding: 0;
}
nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: -webkit-linear-gradient(bottom, #212222, #9d91b9);
}
nav h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(12, 11, 11);
}
h2 {
  margin-top: -20px;
  text-align: center;
  font-size: 20px;
  font-weight: 380;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(24, 26, 24);
}
h2 span {
  font-style: italic;
  color: rgb(25, 26, 25);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(39, 238, 162);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #bd832d;
}
.content{
  margin: 50px auto;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
}



/* style list data mahasiswa */
.styled-table {
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 900px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #bd622d;
  color: #181717;
  text-align: left;
}
.styled-table tbody tr {
  border-bottom: 1px solid #e67f7f;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #e2b2b2;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #bd7f2d;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #2dbd6e;
}
.styled-table thead tr {
  height: 45px;
  text-align: center;
}
.styled-table tbody tr {
  line-height: 50px;
  text-align: center;
}